dist/
build/
__pycache__/
.idea/
Lib/
Scripts/
main.spec
pyvenv.cfg
bin/
lib/
lib64/
.env
deprecated/commands/__pycache__/
deprecated/commands/lottery/__pycache__/
deprecated/Utils/__pycache__/
assets/lottery.json
assets/channels.json
assets/config.json
assets/credits.json
assets/warnban.json
**/*/.DS_Store
.DS_Store
.vscode/
config/
/lottery/
credentials.json
credentials_old.json
token.json