dist/
build/
__pycache__/
.idea/
Lib/
Scripts/
main.spec
pyvenv.cfg
bin/
lib/
lib64/
.env
Include/Commands/__pycache__/
Include/Commands/lottery/__pycache__/
Include/Utils/__pycache__/
Storage/lottery.json
Storage/channels.json
Storage/config.json
Storage/credits.json
Storage/warnban.json
**/*/.DS_Store
.DS_Store
.vscode/
config/